body {
    background: #CCCCCC

 }

 #image {
          width: 100%;
     }

 h1 {
    text-align: center; 
    background: #DAA520;
 }

p {
    text-align: center;        
        }

#missao {
    font-size: 20px
}        

em strong {
    color: #DAA520;          

 }

 .itens {
     
       font-style: italic;

 }